In [65]:
import pandas as pd

In [66]:
df = pd.read_csv("scpppi/processed_data_l.csv")

In [67]:
df = df.drop(columns=["Unnamed: 0","datetime","granule_id"])

In [68]:
df["location"]

0        Los Angeles (SoCAB)
1        Los Angeles (SoCAB)
2        Los Angeles (SoCAB)
3        Los Angeles (SoCAB)
4        Los Angeles (SoCAB)
                ...
39445                  Delhi
39446                  Delhi
39447                  Delhi
39448                  Delhi
39449                  Delhi
Name: location, Length: 39450, dtype: object

In [69]:
df["datetime_dt"] = pd.to_datetime(df["datetime_dt"] )

In [70]:
def clean_df(df):
    df = df.drop(columns=["Unnamed: 0","datetime","granule_id"])
    df["datetime_dt"] = pd.to_datetime(df["datetime_dt"] )
    df["month"] = [i.month for i in df["datetime_dt"]]
    df["month"] = df["month"].astype(str).astype("category")
    one_hot = pd.get_dummies(df["month"])
    df = df.join(one_hot)
    df = df.drop('month',axis = 1)
    df = df.drop('date',axis = 1)
    one_hot = pd.get_dummies(df["location"])
    df = df.join(one_hot)
    df = df.drop('location',axis = 1)
    one_hot = pd.get_dummies(df["grid_id"])
    df = df.join(one_hot)
    df = df.drop('grid_id',axis = 1)
    return df

In [71]:
df["month"] = [i.month for i in df["datetime_dt"]]

In [72]:
df["month"] = df["month"].astype(str).astype("category")

In [73]:
one_hot = pd.get_dummies(df["month"])
one_hot

       1  10  11  12  2  3  4  5  6  7  8  9
0      0   0   0   0  1  0  0  0  0  0  0  0
1      0   0   0   0  1  0  0  0  0  0  0  0
2      0   0   0   0  1  0  0  0  0  0  0  0
3      0   0   0   0  1  0  0  0  0  0  0  0
4      0   0   0   0  1  0  0  0  0  0  0  0
...   ..  ..  ..  .. .. .. .. .. .. .. .. ..
39445  0   0   0   0  0  0  1  0  0  0  0  0
39446  0   0   0   0  0  0  1  0  0  0  0  0
39447  0   0   0   0  0  0  1  0  0  0  0  0
39448  0   0   0   0  0  0  1  0  0  0  0  0
39449  1   0   0   0  0  0  0  0  0  0  0  0

[39450 rows x 12 columns]

In [74]:
df = df.join(one_hot)

In [75]:
df = df.drop('month',axis = 1)

In [76]:
df = df.drop('date',axis = 1)

In [77]:
one_hot = pd.get_dummies(df["location"])
df = df.join(one_hot)

In [78]:
df = df.drop('location',axis = 1)

In [79]:
one_hot = pd.get_dummies(df["grid_id"])
df = df.join(one_hot)

In [80]:
df = df.drop('grid_id',axis = 1)

In [81]:
df.head()

,value,datetime_dt,AOD at 0.47 micron_0,AOD at 0.47 micron_1,AOD at 0.47 micron_2,AOD at 0.47 micron_3,AOD at 0.47 micron_4,AOD at 0.47 micron_5,AOD at 0.47 micron_6,AOD at 0.47 micron_7,...,VYH7U,WT52R,WZNCR,X5DKW,XJF9O,XNLVD,YHOPV,ZF3ZW,ZP1FZ,ZZ8JF
0,11.4,2018-02-01 08:00:00+00:00,-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,-0.097234,...,0,0,0,0,0,0,0,0,0,0
1,17.0,2018-02-01 08:00:00+00:00,-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,-0.097234,...,0,0,0,0,0,0,0,0,0,0
2,11.1,2018-02-01 08:00:00+00:00,-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,-0.097234,...,0,0,0,0,0,0,0,0,0,0
3,22.1,2018-02-01 08:00:00+00:00,-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,-0.097234,...,0,0,0,0,0,0,0,0,0,0
4,29.8,2018-02-01 08:00:00+00:00,-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,-0.097234,...,0,0,0,0,0,0,0,0,0,0

In [88]:
df

,value,datetime_dt,AOD at 0.47 micron_0,AOD at 0.47 micron_1,AOD at 0.47 micron_2,AOD at 0.47 micron_3,AOD at 0.47 micron_4,AOD at 0.47 micron_5,AOD at 0.47 micron_6,AOD at 0.47 micron_7,...,VYH7U,WT52R,WZNCR,X5DKW,XJF9O,XNLVD,YHOPV,ZF3ZW,ZP1FZ,ZZ8JF
0,11.400000,2018-02-01 08:00:00+00:00,-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,-0.097234,...,0,0,0,0,0,0,0,0,0,0
1,17.000000,2018-02-01 08:00:00+00:00,-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,-0.097234,...,0,0,0,0,0,0,0,0,0,0
2,11.100000,2018-02-01 08:00:00+00:00,-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,-0.097234,...,0,0,0,0,0,0,0,0,0,0
3,22.100000,2018-02-01 08:00:00+00:00,-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,-0.097234,...,0,0,0,0,0,0,0,0,0,0
4,29.800000,2018-02-01 08:00:00+00:00,-0.563344,0.109907,-0.103034,0.234161,-0.041027,0.229606,-0.581547,-0.097234,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39445,99.512500,2018-04-17 18:30:00+00:00,-0.558915,0.114815,-0.115747,0.257394,-0.049393,0.243800,-0.591163,-0.107679,...,0,0,0,0,0,0,0,0,0,0
39446,101.068421,2018-04-18 18:30:00+00:00,-0.559187,0.114805,-0.115720,0.257316,-0.049393,0.243815,-0.591383,-0.107631,...,0,0,0,0,0,0,0,0,0,0
39447,157.216667,2018-04-19 18:30:00+00:00,-0.559288,0.114813,-0.115717,0.257326,-0.049380,0.243832,-0.591478,-0.107641,...,0,0,0,0,0,0,0,0,0,0
39448,149.870833,2018-04-25 18:30:00+00:00,-0.559169,0.114806,-0.115722,0.257317,-0.049391,0.243812,-0.591365,-0.107633,...,0,0,0,0,0,0,0,0,0,0
39449,133.960000,2019-01-17 18:30:00+00:00,-0.555606,0.114724,-0.116126,0.257139,-0.049551,0.243193,-0.587944,-0.107578,...,0,0,0,0,0,0,0,0,0,0

In [82]:
X = df[df.columns[2:]].values

In [83]:
y = df["value"].values

In [84]:
X.shape

(39450, 2117)

In [85]:
import torch
import torch.optim as optim
import torch.nn as nn
from torch.utils.data import Dataset, TensorDataset, DataLoader
import pytorch_lightning as pl
from pytorch_lightning import Trainer
# from pytorch_lightning.profiler import Profiler, AdvancedProfiler

In [86]:
l_rate = 0.3
mse_loss = nn.MSELoss(reduction = 'mean')

In [87]:
class RegressionDataset(Dataset):
    
    def __init__(self, X_data, y_data):
        self.X_data = X_data
        self.y_data = y_data
        
    def __getitem__(self, index):
        return self.X_data[index], self.y_data[index]
        
    def __len__ (self):
        return len(self.X_data)

In [46]:
from sklearn.model_selection import train_test_split

In [47]:
X_train, X_test, y_train, y_test  = train_test_split(X, y, test_size=0.2, random_state=1)

X_train, X_val, y_train, y_val   = train_test_split(X_train, y_train, test_size=0.25, random_state=1) # 0.25 x 0.8 = 0.2

In [48]:
from sklearn.preprocessing import MinMaxScaler

In [49]:
# scaler = MinMaxScaler()
# X_train = scaler.fit_transform(X_train)
# X_val = scaler.transform(X_val)
# X_test = scaler.transform(X_test)
# X_train, y_train = np.array(X_train), np.array(y_train)
# X_val, y_val = np.array(X_val), np.array(y_val)
# X_test, y_test = np.array(X_test), np.array(y_test)

In [50]:
train_dataset = RegressionDataset(torch.from_numpy(X_train).float(), torch.from_numpy(y_train).float())
val_dataset = RegressionDataset(torch.from_numpy(X_val).float(), torch.from_numpy(y_val).float())
test_dataset = RegressionDataset(torch.from_numpy(X_test).float(), torch.from_numpy(y_test).float())

In [51]:
EPOCHS = 150
BATCH_SIZE = 64
LEARNING_RATE = 0.001
NUM_FEATURES = X.shape[1]

In [52]:
train_loader = DataLoader(dataset=train_dataset, batch_size=BATCH_SIZE, shuffle=True)
val_loader = DataLoader(dataset=val_dataset, batch_size=1)
test_loader = DataLoader(dataset=test_dataset, batch_size=1)

In [53]:
NUM_FEATURES

2117

In [54]:
device = torch.device("cuda:0" if torch.cuda.is_available() else "cpu")
device

device(type='cuda', index=0)

In [57]:
model = Regression(NUM_FEATURES)
model.to(device)

Regression(
  (fc1): Linear(in_features=2117, out_features=1024, bias=True)
  (fc2): Linear(in_features=1024, out_features=512, bias=True)
  (fc3): Linear(in_features=512, out_features=256, bias=True)
  (fc4): Linear(in_features=256, out_features=128, bias=True)
  (fc5): Linear(in_features=128, out_features=64, bias=True)
  (f): Linear(in_features=64, out_features=1, bias=True)
  (activation): LeakyReLU(negative_slope=0.01)
)

In [58]:
criterion = nn.L1Loss()
optimizer = optim.Adam(model.parameters(), lr=LEARNING_RATE)

In [59]:
loss_stats = {
    'train': [],
    "val": []
}

In [60]:
from tqdm import tqdm

In [61]:
print("Begin training.")
for e in tqdm(range(1, EPOCHS+1)):
    
    # TRAINING
    train_epoch_loss = 0
    model.train()
    for X_train_batch, y_train_batch in train_loader:
        X_train_batch, y_train_batch = X_train_batch.to(device), y_train_batch.to(device)
        optimizer.zero_grad()
        
        y_train_pred = model(X_train_batch)
        
        train_loss = criterion(y_train_pred, y_train_batch.unsqueeze(1))
        
        train_loss.backward()
        optimizer.step()
        
        train_epoch_loss += train_loss.item()
        
        
    # VALIDATION    
    with torch.no_grad():
        
        val_epoch_loss = 0
        
        model.eval()
        for X_val_batch, y_val_batch in val_loader:
            X_val_batch, y_val_batch = X_val_batch.to(device), y_val_batch.to(device)
            
            y_val_pred = model(X_val_batch)
                        
            val_loss = criterion(y_val_pred, y_val_batch.unsqueeze(1))
            
            val_epoch_loss += val_loss.item()
    loss_stats['train'].append(train_epoch_loss/len(train_loader))
    loss_stats['val'].append(val_epoch_loss/len(val_loader))                              
    
    print(f'Epoch {e+0:03}: | Train Loss: {train_epoch_loss/len(train_loader):.5f} | Val Loss: {val_epoch_loss/len(val_loader):.5f}')

Begin training.

  1% 1/150 [00:05<12:38,  5.09s/it]

Epoch 001: | Train Loss: 29.97923 | Val Loss: 29.08948

  1% 2/150 [00:09<11:53,  4.82s/it]

Epoch 002: | Train Loss: 23.40025 | Val Loss: 19.73352

  2% 3/150 [00:14<11:30,  4.70s/it]

Epoch 003: | Train Loss: 21.16406 | Val Loss: 24.17988

  3% 4/150 [00:18<11:15,  4.62s/it]

Epoch 004: | Train Loss: 21.13134 | Val Loss: 21.03787

  3% 5/150 [00:23<11:00,  4.55s/it]

Epoch 005: | Train Loss: 20.62301 | Val Loss: 20.87435

  4% 6/150 [00:27<10:54,  4.54s/it]

Epoch 006: | Train Loss: 20.11694 | Val Loss: 21.76469

  5% 7/150 [00:32<10:48,  4.54s/it]

Epoch 007: | Train Loss: 19.96622 | Val Loss: 19.28591

  5% 8/150 [00:36<10:39,  4.50s/it]

Epoch 008: | Train Loss: 19.52784 | Val Loss: 18.56416

  6% 9/150 [00:40<10:22,  4.41s/it]

Epoch 009: | Train Loss: 19.62227 | Val Loss: 18.48141

  7% 10/150 [00:45<10:21,  4.44s/it]

Epoch 010: | Train Loss: 18.75291 | Val Loss: 17.93741

  7% 11/150 [00:49<10:18,  4.45s/it]

Epoch 011: | Train Loss: 19.00972 | Val Loss: 20.98157

  8% 12/150 [00:54<10:16,  4.47s/it]

Epoch 012: | Train Loss: 18.74650 | Val Loss: 18.18029

  9% 13/150 [00:58<10:13,  4.47s/it]

Epoch 013: | Train Loss: 18.30520 | Val Loss: 18.08126

  9% 14/150 [01:03<10:07,  4.47s/it]

Epoch 014: | Train Loss: 18.65833 | Val Loss: 17.11281

 10% 15/150 [01:07<10:04,  4.48s/it]

Epoch 015: | Train Loss: 18.17034 | Val Loss: 17.07327

 11% 16/150 [01:12<10:01,  4.49s/it]

Epoch 016: | Train Loss: 17.37812 | Val Loss: 16.98938

 11% 17/150 [01:16<09:58,  4.50s/it]

Epoch 017: | Train Loss: 18.03360 | Val Loss: 16.80006

 12% 18/150 [01:21<09:57,  4.52s/it]

Epoch 018: | Train Loss: 17.32727 | Val Loss: 17.24172

 13% 19/150 [01:25<09:53,  4.53s/it]

Epoch 019: | Train Loss: 17.22586 | Val Loss: 18.56899

 13% 20/150 [01:30<09:44,  4.50s/it]

Epoch 020: | Train Loss: 16.71318 | Val Loss: 17.00245

 14% 21/150 [01:34<09:36,  4.47s/it]

Epoch 021: | Train Loss: 16.96314 | Val Loss: 15.78919

 15% 22/150 [01:39<09:30,  4.46s/it]

Epoch 022: | Train Loss: 16.40839 | Val Loss: 15.55481

 15% 23/150 [01:43<09:26,  4.46s/it]

Epoch 023: | Train Loss: 16.34332 | Val Loss: 15.40578

 16% 24/150 [01:48<09:22,  4.47s/it]

Epoch 024: | Train Loss: 16.23222 | Val Loss: 16.10066

 17% 25/150 [01:52<09:19,  4.48s/it]

Epoch 025: | Train Loss: 16.04987 | Val Loss: 16.72383

 17% 26/150 [01:57<09:15,  4.48s/it]

Epoch 026: | Train Loss: 15.89860 | Val Loss: 15.32388

 18% 27/150 [02:01<09:11,  4.49s/it]

Epoch 027: | Train Loss: 15.63659 | Val Loss: 16.23913

 19% 28/150 [02:06<09:07,  4.49s/it]

Epoch 028: | Train Loss: 15.54004 | Val Loss: 15.55573

 19% 29/150 [02:10<09:04,  4.50s/it]

Epoch 029: | Train Loss: 15.61685 | Val Loss: 15.88218

 20% 30/150 [02:15<08:59,  4.49s/it]

Epoch 030: | Train Loss: 15.34560 | Val Loss: 15.00842

 21% 31/150 [02:19<08:53,  4.48s/it]

Epoch 031: | Train Loss: 14.94254 | Val Loss: 14.24865

 21% 32/150 [02:24<08:49,  4.48s/it]

Epoch 032: | Train Loss: 14.91992 | Val Loss: 14.92815

 22% 33/150 [02:28<08:44,  4.48s/it]

Epoch 033: | Train Loss: 15.11424 | Val Loss: 14.21727

 23% 34/150 [02:33<08:39,  4.48s/it]

Epoch 034: | Train Loss: 14.51164 | Val Loss: 17.13564

 23% 35/150 [02:37<08:35,  4.48s/it]

Epoch 035: | Train Loss: 14.91024 | Val Loss: 15.80181

 24% 36/150 [02:42<08:31,  4.49s/it]

Epoch 036: | Train Loss: 14.45445 | Val Loss: 13.76332

 25% 37/150 [02:46<08:27,  4.49s/it]

Epoch 037: | Train Loss: 14.27081 | Val Loss: 14.69377

 25% 38/150 [02:51<08:23,  4.50s/it]

Epoch 038: | Train Loss: 14.32321 | Val Loss: 13.45631

 26% 39/150 [02:55<08:18,  4.49s/it]

Epoch 039: | Train Loss: 14.08493 | Val Loss: 14.42651

 27% 40/150 [03:00<08:13,  4.49s/it]

Epoch 040: | Train Loss: 14.07114 | Val Loss: 13.95089

 27% 41/150 [03:04<08:08,  4.48s/it]

Epoch 041: | Train Loss: 13.85389 | Val Loss: 13.96399

 28% 42/150 [03:08<08:04,  4.48s/it]

Epoch 042: | Train Loss: 13.59132 | Val Loss: 17.34770

 29% 43/150 [03:13<07:59,  4.48s/it]

Epoch 043: | Train Loss: 13.34123 | Val Loss: 14.61558

 29% 44/150 [03:17<07:55,  4.49s/it]

Epoch 044: | Train Loss: 13.49810 | Val Loss: 13.80201

 30% 45/150 [03:22<07:48,  4.47s/it]

Epoch 045: | Train Loss: 13.47176 | Val Loss: 13.19108

 31% 46/150 [03:26<07:42,  4.44s/it]

Epoch 046: | Train Loss: 13.38355 | Val Loss: 18.57901

 31% 47/150 [03:31<07:39,  4.46s/it]

Epoch 047: | Train Loss: 13.25577 | Val Loss: 14.48380

 32% 48/150 [03:35<07:35,  4.47s/it]

Epoch 048: | Train Loss: 13.34718 | Val Loss: 13.27292

 33% 49/150 [03:40<07:29,  4.45s/it]

Epoch 049: | Train Loss: 13.08842 | Val Loss: 13.91190

 33% 50/150 [03:44<07:25,  4.45s/it]

Epoch 050: | Train Loss: 12.73304 | Val Loss: 13.44010

 34% 51/150 [03:49<07:22,  4.47s/it]

Epoch 051: | Train Loss: 12.90439 | Val Loss: 12.52606

 35% 52/150 [03:53<07:20,  4.49s/it]

Epoch 052: | Train Loss: 12.62774 | Val Loss: 13.19968

 35% 53/150 [03:58<07:12,  4.46s/it]

Epoch 053: | Train Loss: 12.88329 | Val Loss: 12.95786

 36% 54/150 [04:02<07:09,  4.47s/it]

Epoch 054: | Train Loss: 12.61290 | Val Loss: 14.35107

 37% 55/150 [04:07<07:05,  4.48s/it]

Epoch 055: | Train Loss: 12.41666 | Val Loss: 13.39060

 37% 56/150 [04:11<07:00,  4.47s/it]

Epoch 056: | Train Loss: 12.27741 | Val Loss: 13.76102

 38% 57/150 [04:15<06:53,  4.45s/it]

Epoch 057: | Train Loss: 12.38774 | Val Loss: 13.35450

 39% 58/150 [04:20<06:48,  4.44s/it]

Epoch 058: | Train Loss: 12.08900 | Val Loss: 13.72602

 39% 59/150 [04:24<06:45,  4.45s/it]

Epoch 059: | Train Loss: 12.09540 | Val Loss: 12.19605

 40% 60/150 [04:29<06:39,  4.44s/it]

Epoch 060: | Train Loss: 12.00809 | Val Loss: 13.71930

 41% 61/150 [04:33<06:36,  4.46s/it]

Epoch 061: | Train Loss: 12.27658 | Val Loss: 13.48561

 41% 62/150 [04:38<06:33,  4.47s/it]

Epoch 062: | Train Loss: 11.82139 | Val Loss: 12.64440

 42% 63/150 [04:42<06:28,  4.47s/it]

Epoch 063: | Train Loss: 11.87189 | Val Loss: 12.16668

 43% 64/150 [04:47<06:24,  4.47s/it]

Epoch 064: | Train Loss: 11.69714 | Val Loss: 14.00669

 43% 65/150 [04:51<06:20,  4.47s/it]

Epoch 065: | Train Loss: 11.65541 | Val Loss: 12.19291

 44% 66/150 [04:56<06:15,  4.47s/it]

Epoch 066: | Train Loss: 11.66326 | Val Loss: 12.79019

 45% 67/150 [05:00<06:11,  4.47s/it]

Epoch 067: | Train Loss: 11.62911 | Val Loss: 12.06381

 45% 68/150 [05:05<06:07,  4.49s/it]

Epoch 068: | Train Loss: 11.35788 | Val Loss: 11.37045

 46% 69/150 [05:09<06:03,  4.49s/it]

Epoch 069: | Train Loss: 11.31773 | Val Loss: 12.54821

 47% 70/150 [05:14<05:59,  4.49s/it]

Epoch 070: | Train Loss: 11.36615 | Val Loss: 11.79772

 47% 71/150 [05:18<05:53,  4.48s/it]

Epoch 071: | Train Loss: 11.20356 | Val Loss: 11.21417

 48% 72/150 [05:23<05:50,  4.50s/it]

Epoch 072: | Train Loss: 11.26844 | Val Loss: 11.55735

 49% 73/150 [05:27<05:43,  4.45s/it]

Epoch 073: | Train Loss: 11.20842 | Val Loss: 11.46580

 49% 74/150 [05:31<05:38,  4.46s/it]

Epoch 074: | Train Loss: 11.10377 | Val Loss: 11.15965

 50% 75/150 [05:36<05:34,  4.46s/it]

Epoch 075: | Train Loss: 11.00813 | Val Loss: 11.20308

 51% 76/150 [05:40<05:31,  4.48s/it]

Epoch 076: | Train Loss: 11.16797 | Val Loss: 11.65211

 51% 77/150 [05:45<05:24,  4.45s/it]

Epoch 077: | Train Loss: 10.95881 | Val Loss: 11.68633

 52% 78/150 [05:49<05:21,  4.47s/it]

Epoch 078: | Train Loss: 10.88820 | Val Loss: 11.99067

 53% 79/150 [05:54<05:17,  4.48s/it]

Epoch 079: | Train Loss: 10.84448 | Val Loss: 11.47951

 53% 80/150 [05:58<05:13,  4.47s/it]

Epoch 080: | Train Loss: 10.64969 | Val Loss: 11.35238

 54% 81/150 [06:03<05:07,  4.45s/it]

Epoch 081: | Train Loss: 10.80858 | Val Loss: 11.45232

 55% 82/150 [06:07<05:03,  4.46s/it]

Epoch 082: | Train Loss: 10.48325 | Val Loss: 11.56569

 55% 83/150 [06:12<04:58,  4.46s/it]

Epoch 083: | Train Loss: 10.64073 | Val Loss: 11.43889

 56% 84/150 [06:16<04:55,  4.48s/it]

Epoch 084: | Train Loss: 10.74416 | Val Loss: 11.07476

 57% 85/150 [06:21<04:51,  4.49s/it]

Epoch 085: | Train Loss: 10.69619 | Val Loss: 11.44737

 57% 86/150 [06:25<04:47,  4.49s/it]

Epoch 086: | Train Loss: 10.53253 | Val Loss: 10.93752

 58% 87/150 [06:30<04:42,  4.49s/it]

Epoch 087: | Train Loss: 10.48714 | Val Loss: 12.18268

 59% 88/150 [06:34<04:35,  4.45s/it]

Epoch 088: | Train Loss: 10.37889 | Val Loss: 11.50918

 59% 89/150 [06:38<04:31,  4.45s/it]

Epoch 089: | Train Loss: 10.25820 | Val Loss: 10.66071

 60% 90/150 [06:43<04:27,  4.46s/it]

Epoch 090: | Train Loss: 10.36119 | Val Loss: 10.92912

 61% 91/150 [06:47<04:23,  4.46s/it]

Epoch 091: | Train Loss: 10.06066 | Val Loss: 10.66298

 61% 92/150 [06:52<04:19,  4.48s/it]

Epoch 092: | Train Loss: 10.14129 | Val Loss: 10.57656

 62% 93/150 [06:56<04:15,  4.48s/it]

Epoch 093: | Train Loss: 10.22147 | Val Loss: 10.71473

 63% 94/150 [07:01<04:11,  4.49s/it]

Epoch 094: | Train Loss: 10.19485 | Val Loss: 10.68780

 63% 95/150 [07:05<04:06,  4.48s/it]

Epoch 095: | Train Loss: 9.91966 | Val Loss: 10.67958

 64% 96/150 [07:10<04:01,  4.48s/it]

Epoch 096: | Train Loss: 10.06859 | Val Loss: 10.67547

 65% 97/150 [07:14<03:55,  4.45s/it]

Epoch 097: | Train Loss: 10.06555 | Val Loss: 11.01781

 65% 98/150 [07:19<03:51,  4.46s/it]

Epoch 098: | Train Loss: 9.96593 | Val Loss: 11.59207

 66% 99/150 [07:23<03:48,  4.47s/it]

Epoch 099: | Train Loss: 9.96749 | Val Loss: 11.10612

 67% 100/150 [07:28<03:43,  4.47s/it]

Epoch 100: | Train Loss: 10.05673 | Val Loss: 10.71034

 67% 101/150 [07:32<03:39,  4.47s/it]

Epoch 101: | Train Loss: 9.90549 | Val Loss: 10.36336

 68% 102/150 [07:37<03:34,  4.48s/it]

Epoch 102: | Train Loss: 9.85102 | Val Loss: 11.36326

 69% 103/150 [07:41<03:30,  4.48s/it]

Epoch 103: | Train Loss: 9.75167 | Val Loss: 10.49545

 69% 104/150 [07:46<03:25,  4.48s/it]

Epoch 104: | Train Loss: 9.73751 | Val Loss: 10.42115

 70% 105/150 [07:50<03:21,  4.47s/it]

Epoch 105: | Train Loss: 9.83196 | Val Loss: 11.59533

 71% 106/150 [07:54<03:16,  4.47s/it]

Epoch 106: | Train Loss: 9.71546 | Val Loss: 10.60035

 71% 107/150 [07:59<03:12,  4.48s/it]

Epoch 107: | Train Loss: 9.66995 | Val Loss: 10.77619

 72% 108/150 [08:03<03:08,  4.49s/it]

Epoch 108: | Train Loss: 9.61414 | Val Loss: 11.59088

 73% 109/150 [08:08<03:03,  4.49s/it]

Epoch 109: | Train Loss: 9.60305 | Val Loss: 10.62585

 73% 110/150 [08:12<02:59,  4.49s/it]

Epoch 110: | Train Loss: 9.58221 | Val Loss: 11.13315

 74% 111/150 [08:17<02:55,  4.50s/it]

Epoch 111: | Train Loss: 9.44683 | Val Loss: 11.18498

 75% 112/150 [08:21<02:50,  4.48s/it]

Epoch 112: | Train Loss: 9.55582 | Val Loss: 10.45469

 75% 113/150 [08:26<02:45,  4.48s/it]

Epoch 113: | Train Loss: 9.45432 | Val Loss: 10.92306

 76% 114/150 [08:30<02:40,  4.45s/it]

Epoch 114: | Train Loss: 9.54091 | Val Loss: 10.30829

 77% 115/150 [08:35<02:35,  4.45s/it]

Epoch 115: | Train Loss: 9.47573 | Val Loss: 11.15087

 77% 116/150 [08:39<02:31,  4.47s/it]

Epoch 116: | Train Loss: 9.40623 | Val Loss: 10.72807

 78% 117/150 [08:44<02:27,  4.48s/it]

Epoch 117: | Train Loss: 9.39480 | Val Loss: 12.18643

 79% 118/150 [08:48<02:23,  4.47s/it]

Epoch 118: | Train Loss: 9.44271 | Val Loss: 10.30960

 79% 119/150 [08:53<02:18,  4.47s/it]

Epoch 119: | Train Loss: 9.24916 | Val Loss: 10.25062

 80% 120/150 [08:57<02:14,  4.47s/it]

Epoch 120: | Train Loss: 9.47870 | Val Loss: 10.35640

 81% 121/150 [09:02<02:09,  4.47s/it]

Epoch 121: | Train Loss: 9.52205 | Val Loss: 10.89015

 81% 122/150 [09:06<02:05,  4.47s/it]

Epoch 122: | Train Loss: 9.20497 | Val Loss: 10.43096

 82% 123/150 [09:11<02:01,  4.48s/it]

Epoch 123: | Train Loss: 9.10280 | Val Loss: 10.48274

 83% 124/150 [09:15<01:56,  4.49s/it]

Epoch 124: | Train Loss: 9.20067 | Val Loss: 10.24789

 83% 125/150 [09:20<01:52,  4.50s/it]

Epoch 125: | Train Loss: 9.21757 | Val Loss: 10.05653

 84% 126/150 [09:24<01:47,  4.48s/it]

Epoch 126: | Train Loss: 9.01018 | Val Loss: 10.29089

 85% 127/150 [09:29<01:43,  4.50s/it]

Epoch 127: | Train Loss: 8.93766 | Val Loss: 11.07728

 85% 128/150 [09:33<01:39,  4.52s/it]

Epoch 128: | Train Loss: 9.04597 | Val Loss: 10.23017

 86% 129/150 [09:38<01:35,  4.53s/it]

Epoch 129: | Train Loss: 8.88991 | Val Loss: 9.90004

 87% 130/150 [09:42<01:30,  4.53s/it]

Epoch 130: | Train Loss: 8.89037 | Val Loss: 10.39071

 87% 131/150 [09:47<01:25,  4.52s/it]

Epoch 131: | Train Loss: 8.96774 | Val Loss: 10.05779

 88% 132/150 [09:51<01:21,  4.51s/it]

Epoch 132: | Train Loss: 8.81972 | Val Loss: 10.49999

 89% 133/150 [09:56<01:16,  4.51s/it]

Epoch 133: | Train Loss: 8.86784 | Val Loss: 10.13081

 89% 134/150 [10:00<01:12,  4.51s/it]

Epoch 134: | Train Loss: 8.74642 | Val Loss: 10.29751

 90% 135/150 [10:05<01:07,  4.52s/it]

Epoch 135: | Train Loss: 9.07196 | Val Loss: 9.99850

 91% 136/150 [10:09<01:03,  4.51s/it]

Epoch 136: | Train Loss: 8.88400 | Val Loss: 10.53667

 91% 137/150 [10:14<00:58,  4.50s/it]

Epoch 137: | Train Loss: 8.92009 | Val Loss: 9.96108

 92% 138/150 [10:18<00:54,  4.51s/it]

Epoch 138: | Train Loss: 8.93164 | Val Loss: 11.01496

 93% 139/150 [10:23<00:49,  4.51s/it]

Epoch 139: | Train Loss: 8.68673 | Val Loss: 10.25818

 93% 140/150 [10:27<00:45,  4.51s/it]

Epoch 140: | Train Loss: 8.80242 | Val Loss: 10.27800

 94% 141/150 [10:32<00:40,  4.50s/it]

Epoch 141: | Train Loss: 8.74954 | Val Loss: 9.84346

 95% 142/150 [10:36<00:35,  4.50s/it]

Epoch 142: | Train Loss: 8.68064 | Val Loss: 9.96944

 95% 143/150 [10:41<00:31,  4.49s/it]

Epoch 143: | Train Loss: 8.62737 | Val Loss: 11.02659

 96% 144/150 [10:45<00:26,  4.45s/it]

Epoch 144: | Train Loss: 8.61537 | Val Loss: 10.26027

 97% 145/150 [10:50<00:22,  4.45s/it]

Epoch 145: | Train Loss: 8.62878 | Val Loss: 10.30720

 97% 146/150 [10:54<00:17,  4.47s/it]

Epoch 146: | Train Loss: 8.54088 | Val Loss: 10.27191

 98% 147/150 [10:59<00:13,  4.47s/it]

Epoch 147: | Train Loss: 8.65221 | Val Loss: 10.47051

 99% 148/150 [11:03<00:08,  4.48s/it]

Epoch 148: | Train Loss: 8.54962 | Val Loss: 9.84411

 99% 149/150 [11:08<00:04,  4.48s/it]

Epoch 149: | Train Loss: 8.25707 | Val Loss: 10.09149

100% 150/150 [11:12<00:00,  4.48s/it]

Epoch 150: | Train Loss: 8.63646 | Val Loss: 10.15121

In [510]:
1+1

2

In [62]:
y_pred_list = []
with torch.no_grad():
    model.eval()
    for X_batch, _ in test_loader:
        X_batch = X_batch.to(device)
        y_test_pred = model(X_batch)
        y_pred_list.append(y_test_pred.cpu().numpy())
y_pred_list = [a.squeeze().tolist() for a in y_pred_list]

In [63]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [64]:
mse = mean_squared_error(y_test, y_pred_list)
r_square = r2_score(y_test, y_pred_list)
print("Mean Squared Error :",mse)
print("R^2 :",r_square)

Mean Squared Error : 744.4494604277419
R^2 : 0.8716408254027521

In [ ]:
# Mean Squared Error : 907.6883032426905
# R^2 : 0.8434949212954438

# Mean Squared Error : 604.0072439588212
# R^2 : 0.8958560984908686

In [ ]:
train_dataset = RegressionDataset(torch.from_numpy(X_train).float(), torch.from_numpy(y_train).float())

In [248]:
df_testi['7F1D1'] = np.zeros(len(df_testi))
df_testi['WZNCR'] = np.zeros(len(df_testi))

In [250]:
df_testi = df_testi[df.columns]

In [336]:
df_test.drop_duplicates()

,Unnamed: 0,datetime,grid_id,value,datetime_dt,location,date,granule_id,AOD at 0.47 micron_0,AOD at 0.47 micron_1,...,cosine of Solar Zenith Angle_246,cosine of Solar Zenith Angle_247,cosine of Solar Zenith Angle_248,cosine of Solar Zenith Angle_249,cosine of Solar Zenith Angle_250,cosine of Solar Zenith Angle_251,cosine of Solar Zenith Angle_252,cosine of Solar Zenith Angle_253,cosine of Solar Zenith Angle_254,cosine of Solar Zenith Angle_255
0,0,2017-01-07T16:00:00Z,1X116,8.420161,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,20170107T032000_maiac_tpe_0.hdf,-0.552611,0.114593,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
1,1,2017-01-07T16:00:00Z,9Q6TA,9.205665,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,20170107T032000_maiac_tpe_0.hdf,-0.552611,0.114593,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
2,2,2017-01-07T16:00:00Z,KW43U,10.190537,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,20170107T032000_maiac_tpe_0.hdf,-0.552611,0.114593,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
3,3,2017-01-07T16:00:00Z,VR4WG,13.024861,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,20170107T032000_maiac_tpe_0.hdf,-0.552611,0.114593,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
4,4,2017-01-07T16:00:00Z,XJF9O,8.132245,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,20170107T032000_maiac_tpe_0.hdf,-0.552611,0.114593,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15994,15994,2021-06-05T18:30:00Z,YHOPV,39.464722,2021-06-05 18:30:00+00:00,Delhi,2021-06-05,20210605T071000_maiac_dl_0.hdf,-0.561104,0.114857,...,0.282401,0.094115,0.101234,-0.598972,-0.056394,-0.085390,0.155456,0.061431,0.139627,0.156484
15995,15995,2021-06-05T18:30:00Z,ZF3ZW,53.499786,2021-06-05 18:30:00+00:00,Delhi,2021-06-05,20210605T071000_maiac_dl_0.hdf,-0.561104,0.114857,...,0.282401,0.094115,0.101234,-0.598972,-0.056394,-0.085390,0.155456,0.061431,0.139627,0.156484
15996,15996,2021-06-05T18:30:00Z,GVQXS,42.492672,2021-06-05 18:30:00+00:00,Delhi,2021-06-05,20210605T071000_maiac_dl_0.hdf,-0.561104,0.114857,...,0.282401,0.094115,0.101234,-0.598972,-0.056394,-0.085390,0.155456,0.061431,0.139627,0.156484
15997,15997,2021-06-17T18:30:00Z,A7UCQ,50.507221,2021-06-17 18:30:00+00:00,Delhi,2021-06-17,20210617T060000_maiac_dl_0.hdf,-0.556475,0.114697,...,0.364079,0.141253,0.068522,-1.220975,-0.168101,1.756613,0.158490,0.021657,0.110188,0.200711
15998,15998,2021-04-11T18:30:00Z,GJLB2,49.723572,2021-04-11 18:30:00+00:00,Delhi,2021-04-11,20210411T070500_maiac_dl_0.hdf,-0.556702,0.114758,...,0.559139,0.184912,0.162346,-2.739183,-0.605774,3.593384,0.308225,-0.423955,0.171615,1.109442

In [241]:
df_testi = clean_df(df_test)

In [305]:
X_t.shape

(4664, 2117)

In [304]:
X_t = df_testi[df_testi.columns[2:]].values

In [303]:
y_t = df_testi["value"].values
df_testi

,value,datetime_dt,AOD at 0.47 micron_0,AOD at 0.47 micron_1,AOD at 0.47 micron_2,AOD at 0.47 micron_3,AOD at 0.47 micron_4,AOD at 0.47 micron_5,AOD at 0.47 micron_6,AOD at 0.47 micron_7,...,WT52R,X5DKW,XJF9O,XNLVD,YHOPV,ZF3ZW,ZP1FZ,ZZ8JF,7F1D1,WZNCR
11335,35.648685,2017-09-11 18:30:00+00:00,-0.559531,0.114779,-0.115476,0.257547,-0.049371,0.243913,-0.591729,-0.107678,...,0,0,0,0,0,0,0,0,0.0,0.0
11336,38.556229,2017-09-11 18:30:00+00:00,-0.559531,0.114779,-0.115476,0.257547,-0.049371,0.243913,-0.591729,-0.107678,...,0,0,0,0,0,0,0,0,0.0,0.0
11337,38.311573,2017-09-11 18:30:00+00:00,-0.559531,0.114779,-0.115476,0.257547,-0.049371,0.243913,-0.591729,-0.107678,...,0,0,0,0,0,0,0,0,0.0,0.0
11338,74.344765,2017-09-13 18:30:00+00:00,-0.554744,0.114666,-0.116321,0.256905,-0.049576,0.243066,-0.587184,-0.107508,...,0,0,0,0,0,0,0,0,0.0,0.0
11339,89.514030,2017-09-13 18:30:00+00:00,-0.554744,0.114666,-0.116321,0.256905,-0.049576,0.243066,-0.587184,-0.107508,...,0,0,0,0,0,0,0,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15994,54.280643,2021-06-05 18:30:00+00:00,-0.561104,0.114857,-0.115555,0.257440,-0.049277,0.244174,-0.593226,-0.107686,...,0,0,0,0,1,0,0,0,0.0,0.0
15995,54.390671,2021-06-05 18:30:00+00:00,-0.561104,0.114857,-0.115555,0.257440,-0.049277,0.244174,-0.593226,-0.107686,...,0,0,0,0,0,1,0,0,0.0,0.0
15996,46.778610,2021-06-05 18:30:00+00:00,-0.561104,0.114857,-0.115555,0.257440,-0.049277,0.244174,-0.593226,-0.107686,...,0,0,0,0,0,0,0,0,0.0,0.0
15997,55.733818,2021-06-17 18:30:00+00:00,-0.556475,0.114697,-0.116058,0.256996,-0.049477,0.243355,-0.588765,-0.107504,...,0,0,0,0,0,0,0,0,0.0,0.0
15998,75.723808,2021-04-11 18:30:00+00:00,-0.556702,0.114758,-0.116034,0.257136,-0.049515,0.243378,-0.589021,-0.107595,...,0,0,0,0,0,0,0,0,0.0,0.0

In [257]:
test_inderence_dataset = RegressionDataset(torch.from_numpy(X_t).float(), torch.from_numpy(y_t).float())

In [263]:
test_inference_loader = DataLoader(dataset=test_inderence_dataset, batch_size=1,shuffle=False)

In [264]:
y_pred_list = []
with torch.no_grad():
    model.eval()
    for X_batch, _ in test_inderence_dataset:
        X_batch = X_batch.to(device)
        y_test_pred = model(X_batch)
        y_pred_list.append(y_test_pred.cpu().numpy())
y_pred_list = [a.squeeze().tolist() for a in y_pred_list]

In [267]:
len(y_pred_list)

15999

In [419]:
df_test["value"]=y_pred_list

In [420]:
test_labels = pd.read_csv("submission_format.csv")
# test_labels["datetime"] = pd.to_datetime(test_labels["datetime"])
test_labels

                   datetime grid_id  value
0      2017-01-07T16:00:00Z   1X116    0.0
1      2017-01-07T16:00:00Z   9Q6TA    0.0
2      2017-01-07T16:00:00Z   KW43U    0.0
3      2017-01-07T16:00:00Z   VR4WG    0.0
4      2017-01-07T16:00:00Z   XJF9O    0.0
...                     ...     ...    ...
13499  2021-08-24T08:00:00Z   QJHW4    0.0
13500  2021-08-24T08:00:00Z   VBLD0    0.0
13501  2021-08-24T08:00:00Z   WT52R    0.0
13502  2021-08-24T08:00:00Z   ZP1FZ    0.0
13503  2021-08-24T08:00:00Z   ZZ8JF    0.0

[13504 rows x 3 columns]

In [470]:
test_labels["datetime"][0]

'2017-01-07T16:00:00Z'

In [471]:
df_final = df_test#[df_test["location"]=="Delhi"]

In [472]:
filtered =df_final[['grid_id','value','datetime']]

In [473]:
# filtered.columns = ['grid_id','value','datetime']

In [468]:
df_f = test_labels.merge(filtered,on=['grid_id','datetime'],how="left")

KeyError: 'grid_id'

In [469]:
df_f

                   datetime grid_id  value_x    value_y
0      2017-01-07T16:00:00Z   1X116      0.0  15.883646
1      2017-01-07T16:00:00Z   9Q6TA      0.0  16.128211
2      2017-01-07T16:00:00Z   KW43U      0.0  16.841695
3      2017-01-07T16:00:00Z   VR4WG      0.0  18.448220
4      2017-01-07T16:00:00Z   XJF9O      0.0  15.212121
...                     ...     ...      ...        ...
13499  2021-08-24T08:00:00Z   QJHW4      0.0        NaN
13500  2021-08-24T08:00:00Z   VBLD0      0.0        NaN
13501  2021-08-24T08:00:00Z   WT52R      0.0        NaN
13502  2021-08-24T08:00:00Z   ZP1FZ      0.0        NaN
13503  2021-08-24T08:00:00Z   ZZ8JF      0.0        NaN

[13504 rows x 4 columns]

In [427]:
dates = list(test_labels["datetime"])

In [428]:
vals = pd.read_csv("dumbSameMonthAverage.csv")

In [480]:
filtered = filtered.groupby(["datetime","value"]).mean().reset_index()

In [481]:
finals = vals.merge(df_f,on=['grid_id','datetime'],how="left")

In [482]:
finals

                   datetime grid_id      value  value_x    value_y
0      2017-01-07T16:00:00Z   1X116  12.719368      0.0  15.883646
1      2017-01-07T16:00:00Z   9Q6TA  14.291667      0.0  16.128211
2      2017-01-07T16:00:00Z   KW43U  12.565217      0.0  16.841695
3      2017-01-07T16:00:00Z   VR4WG  15.853261      0.0  18.448220
4      2017-01-07T16:00:00Z   XJF9O  14.264302      0.0  15.212121
...                     ...     ...        ...      ...        ...
13499  2021-08-24T08:00:00Z   QJHW4  15.800317      0.0        NaN
13500  2021-08-24T08:00:00Z   VBLD0  10.834375      0.0        NaN
13501  2021-08-24T08:00:00Z   WT52R  15.986975      0.0        NaN
13502  2021-08-24T08:00:00Z   ZP1FZ  19.875870      0.0        NaN
13503  2021-08-24T08:00:00Z   ZZ8JF  12.873864      0.0        NaN

[13504 rows x 5 columns]

In [500]:
resi = []
for i in finals[["value","value_y"]].values:
    if(i[1]!=i[1]):
        resi.append(i[0])
    else:
        resi.append(8/12 *i[0] + 5/12*i[1]  )

In [501]:
max(finals["value"]),max(resi)

(999.99, 728.5081307164241)

In [494]:
len(resi)

13504

In [495]:
finals["value3"] = resi

In [496]:
grdi =finals[["datetime","grid_id","value3"]]
grdi.columns = vals.columns

In [497]:
grdi.describe()

              value
count  13504.000000
mean      39.332235
std       50.999803
min        0.435152
25%       10.372853
50%       14.240134
75%       51.039168
max      472.922821

In [498]:
grdi.to_csv("hardwork3.csv",index=False)

In [462]:
df_f = df_f.groupby(["datetime","grid_id"]).mean().reset_index()

In [463]:
# final = df_f[df_f["datetime"].isin(dates)]

In [474]:
final.groupby(["datetime","grid_id"]).mean().reset_index()

                   datetime grid_id  value_x    value_y
0      2017-01-07T16:00:00Z   1X116      0.0  15.883646
1      2017-01-07T16:00:00Z   9Q6TA      0.0  16.128211
2      2017-01-07T16:00:00Z   KW43U      0.0  16.841695
3      2017-01-07T16:00:00Z   VR4WG      0.0  18.448220
4      2017-01-07T16:00:00Z   XJF9O      0.0  15.212121
...                     ...     ...      ...        ...
13499  2021-08-24T08:00:00Z   QJHW4      0.0        NaN
13500  2021-08-24T08:00:00Z   VBLD0      0.0        NaN
13501  2021-08-24T08:00:00Z   WT52R      0.0        NaN
13502  2021-08-24T08:00:00Z   ZP1FZ      0.0        NaN
13503  2021-08-24T08:00:00Z   ZZ8JF      0.0        NaN

[13504 rows x 4 columns]

In [465]:
test_labels.groupby(["datetime","grid_id"]).mean().reset_index()

                   datetime grid_id  value
0      2017-01-07T16:00:00Z   1X116    0.0
1      2017-01-07T16:00:00Z   9Q6TA    0.0
2      2017-01-07T16:00:00Z   KW43U    0.0
3      2017-01-07T16:00:00Z   VR4WG    0.0
4      2017-01-07T16:00:00Z   XJF9O    0.0
...                     ...     ...    ...
13499  2021-08-24T08:00:00Z   QJHW4    0.0
13500  2021-08-24T08:00:00Z   VBLD0    0.0
13501  2021-08-24T08:00:00Z   WT52R    0.0
13502  2021-08-24T08:00:00Z   ZP1FZ    0.0
13503  2021-08-24T08:00:00Z   ZZ8JF    0.0

[13504 rows x 3 columns]

In [287]:
filtered["datetime_dt"]= pd.to_datetime(filtered["datetime_dt"])

In [289]:
filtered.sort_values("datetime_dt")#.reset_index()["value"].plot()

                   datetime_dt      value
0    2017-09-11 18:30:00+00:00  27.127584
1    2017-09-11 18:30:00+00:00  30.793737
2    2017-09-11 18:30:00+00:00  31.781155
3    2017-09-12 18:30:00+00:00  47.110882
4    2017-09-13 18:30:00+00:00  27.875738
...                        ...        ...
4639 2021-07-24 18:30:00+00:00  16.941996
4638 2021-07-24 18:30:00+00:00  14.971571
4662 2021-07-24 18:30:00+00:00  32.055069
4649 2021-07-24 18:30:00+00:00  23.991646
4663 2021-07-24 18:30:00+00:00  52.160786

[4664 rows x 2 columns]

In [399]:
# y_pred_list

In [56]:
class Regression(pl.LightningModule):
    
    def __init__(self,NUM_FEATURES):
        super(Regression, self).__init__()
        self.fc1 = nn.Linear(NUM_FEATURES, 1024)
        self.fc2 = nn.Linear(1024, 512)
        self.fc3 = nn.Linear(512, 256)
        self.fc4 = nn.Linear(256, 128)
        self.fc5 = nn.Linear(128, 64)
        self.f = nn.Linear(64, 1)
        self.activation = nn.LeakyReLU()
    

    def forward(self, x):
        x = self.activation(self.fc1(x))
        x = self.activation(self.fc2(x))
        x = self.activation(self.fc3(x))
        x = self.activation(self.fc4(x))
        x = self.activation(self.fc5(x))
        x = self.f(x)
        return x

In [75]:
torch.tensor(X[0]).shape

torch.Size([2117])

In [81]:
n_samples = 5

In [514]:
X.shape

(39450, 2117)

In [517]:
class SentimentNet(nn.Module):
    def __init__(self, output_size=1, embedding_dim=128, hidden_dim=8, n_layers=8, drop_prob=0.5):
        super(SentimentNet, self).__init__()
        self.output_size = output_size
        self.n_layers = n_layers
        self.hidden_dim = hidden_dim
        
       
        self.lstm = nn.LSTM(39450, hidden_dim, n_layers, dropout=drop_prob, batch_first=True)
        self.dropout = nn.Dropout(drop_prob)
        self.fc = nn.Linear(hidden_dim, output_size)
        self.sigmoid = nn.Sigmoid()
        
    def forward(self, x, hidden):
        batch_size = x.size(0)
        x = x.long()
        embeds = x
        lstm_out, hidden = self.lstm(embeds, hidden)
        lstm_out = lstm_out.contiguous().view(-1, self.hidden_dim)
        
        out = self.dropout(lstm_out)
        out = self.fc(out)
        out = self.sigmoid(out)
        
        out = out.view(batch_size, -1)
        out = out[:,-1]
        return out, hidden
    
    def init_hidden(self, batch_size):
        weight = next(self.parameters()).data
        hidden = (weight.new(self.n_layers, batch_size, self.hidden_dim).zero_().to(device),
                      weight.new(self.n_layers, batch_size, self.hidden_dim).zero_().to(device))
        return hidden

In [518]:
model = SentimentNet()

In [520]:
model.init_hidden()

TypeError: init_hidden() missing 1 required positional argument: 'batch_size'

In [519]:
X

array([[-0.56334394,  0.10990731, -0.10303362, ...,  0.        ,
         0.        ,  0.        ],
       [-0.56334394,  0.10990731, -0.10303362, ...,  0.        ,
         0.        ,  0.        ],
       [-0.56334394,  0.10990731, -0.10303362, ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.5592876 ,  0.11481263, -0.1157174 , ...,  0.        ,
         0.        ,  0.        ],
       [-0.5591694 ,  0.11480556, -0.11572182, ...,  0.        ,
         0.        ,  0.        ],
       [-0.5556056 ,  0.11472411, -0.11612588, ...,  0.        ,
         0.        ,  0.        ]])

In [83]:
import torch.optim as optim
model = LSTM()
criterion = nn.MSELoss()
optimiser = optim.Adam(model.parameters(), lr=0.08)

In [84]:
torch.tensor(X[:5]).shape,y.shape

(torch.Size([5, 2117]), (39450,))

In [85]:
model(torch.tensor(X[:5]),y[:5])

NameError: name 'input_t' is not defined

In [48]:
def training_loop(n_epochs, model, optimiser, loss_fn, 
                  train_input, train_target, test_input, test_target):
    for i in range(n_epochs):
        def closure():
            optimiser.zero_grad()
            out = model(train_input)
            loss = loss_fn(out, train_target)
            loss.backward()
            return loss
        optimiser.step(closure)
        with torch.no_grad():
            future = 1000
            pred = model(test_input, future=future)
            # use all pred samples, but only go to 999
            loss = loss_fn(pred[:, :-future], test_target)
            y = pred.detach().numpy()
        # print the loss
        out = model(train_input)
        loss_print = loss_fn(out, train_target)
        print("Step: {}, Loss: {}".format(i, loss_print))

In [50]:
train_prop = 0.95
train_samples = round(N * train_prop) 
test_samples = N - train_samples

In [51]:
train_input = torch.from_numpy(y[test_samples:, :-1]) # (train_samples, L-1)
train_target = torch.from_numpy(y[test_samples:, 1:]) # (train_samples, L-1)
test_input = torch.from_numpy(y[:test_samples, :-1]) # (train_samples, L-1)
test_target = torch.from_numpy(y[:test_samples, 1:]) # (train_samples, L-1)

In [53]:
N = 100 # number of theoretical series of games
L = 11 # number of games in each series
x = np.empty((N,L), np.float32) # instantiate empty array
x[:] = np.arange(L)
y = (1.6*x + 4).astype(np.float32)

# add some noise
for i in range(len(y)):
    y[i] += np.random.normal(10, 1)

In [55]:
training_loop(n_epochs = 10,
              model = model,
              optimiser = optimiser,
              loss_fn = criterion,
              L = L,
              train_input = train_input,
              train_target = train_target,
              test_input = test_input,
              test_target = test_target)

NameError: name 'n_samples' is not defined

In [8]:
df_values = df[df.columns[8:]].values

In [9]:
df_values.shape

(39450, 2046)

In [10]:
vectors=df_values
target = df_values[0]

In [237]:
df_test = pd.read_csv("processed_data_test.csv")

In [234]:
df_test= df_test.drop(columns=["Unnamed: 0","datetime","granule_id"])

In [235]:
df_test.head()

,grid_id,value,datetime_dt,location,date,AOD at 0.47 micron_0,AOD at 0.47 micron_1,AOD at 0.47 micron_2,AOD at 0.47 micron_3,AOD at 0.47 micron_4,...,cosine of Solar Zenith Angle_246,cosine of Solar Zenith Angle_247,cosine of Solar Zenith Angle_248,cosine of Solar Zenith Angle_249,cosine of Solar Zenith Angle_250,cosine of Solar Zenith Angle_251,cosine of Solar Zenith Angle_252,cosine of Solar Zenith Angle_253,cosine of Solar Zenith Angle_254,cosine of Solar Zenith Angle_255
0,1X116,0.0,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,-0.552611,0.114593,-0.116292,0.256839,-0.049796,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
1,9Q6TA,0.0,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,-0.552611,0.114593,-0.116292,0.256839,-0.049796,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
2,KW43U,0.0,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,-0.552611,0.114593,-0.116292,0.256839,-0.049796,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
3,VR4WG,0.0,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,-0.552611,0.114593,-0.116292,0.256839,-0.049796,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304
4,XJF9O,0.0,2017-01-07 16:00:00+00:00,Taipei,2017-01-07,-0.552611,0.114593,-0.116292,0.256839,-0.049796,...,0.514868,0.139191,0.183938,-1.667788,-0.356834,2.620512,0.295454,-0.233992,0.197363,0.768304

In [15]:
# import torch
# print(torch.rand(1, device="cuda"))

In [ ]:
class LSTM(nn.Module):
    def __init__(self, hidden_layers=64):
        super(LSTM, self).__init__()
        self.hidden_layers = hidden_layers
        # lstm1, lstm2, linear are all layers in the network
        self.lstm1 = nn.LSTMCell(1, self.hidden_layers)
        self.lstm2 = nn.LSTMCell(self.hidden_layers, self.hidden_layers)
        self.linear = nn.Linear(self.hidden_layers, 1)
        
    def forward(self, y, future_preds=0):
        outputs, num_samples = [], y.size(0)
        h_t = torch.zeros(n_samples, self.hidden_layers, dtype=torch.float32)
        c_t = torch.zeros(n_samples, self.hidden_layers, dtype=torch.float32)
        h_t2 = torch.zeros(n_samples, self.hidden_layers, dtype=torch.float32)
        c_t2 = torch.zeros(n_samples, self.hidden_layers, dtype=torch.float32)
        
        for time_step in y.split(1, dim=1):
            # N, 1
            h_t, c_t = self.lstm1(input_t, (h_t, c_t)) # initial hidden and cell states
            h_t2, c_t2 = self.lstm2(h_t, (h_t2, c_t2)) # new hidden and cell states
            output = self.linear(h_t2) # output from the last FC layer
            outputs.append(output)
            
        for i in range(future_preds):
            # this only generates future predictions if we pass in future_preds>0
            # mirrors the code above, using last output/prediction as input
            h_t, c_t = self.lstm1(output, (h_t, c_t))
            h_t2, c_t2 = self.lstm2(h_t, (h_t2, c_t2))
            output = self.linear(h_t2)
            outputs.append(output)
        # transform list to tensor    
        outputs = torch.cat(outputs, dim=1)
        return outputs